Package: com.chr1s.jigglemode
Name: Jiggle Mode
Version: 1.0.7
Architecture: iphoneos-arm
Description: Replaces "Edit Home Screen" with "Jiggle Mode" in 3D touch view
Maintainer: Chr1s
Author: Chr1s
Section: Tweaks
Icon: https://repo.chr1s.dev/icons/JiggleMode/icon.png
Depends: mobilesubstrate (>= 0.9.5000)
